<div class="modal" ng-controller="NewOrder">
	<ion-header class="bar bar-header bar-dark">
		<a class="button icon ion-arrow-left-c button-clear button-light" ng-click="closeModal()"></a>
 		<h1 class="title">New order</h1>
 		<a class="button icon ion-checkmark-round button-clear button-light"></a>
	</ion-header>

	<ion-content class="has-header padding">
		<div ng-controller="SlideController as slide">
			<ion-slide-box>
				<ion-slide>
				  	<div class="box">
				  		<div ng-controller="MenuFoodTabController">
					  		<div class="list">
					  			<a ng-repeat="food in typeOfFood" class="list-element" ng-click="setTab(food.name)" ng-class="{active: isSet(food.name)}">{{food.name}}</a>
					  		</div>
					  		<div class="list" ng-repeat="food in typeOfFood" ng-show="isSet(food.name)" style="height: 200px">
					  			<ion-item ng-repeat="dish in food.content" ng-click="selectDish(dish)">
					  				{{dish.name}}
					  				{{dish.price}}
					  			</ion-item>
					  		</div>
				  		</div>
				    	<button class="button button-positive" ng-click="nextSlide()">Next slide!</button>
				  	</div>
				</ion-slide>
				<ion-slide>
					<div class="box">
						<button class="button button-positive" ng-click="prevSlide()">Previous slide!</button>
					</div>
				</ion-slide>
			</ion-slide-box>
		</div>
		<br/>
		<div>
			<ion-item class="item item-divider">
				<strong>Table: {{order.table}}</strong>
				<button class="button button-outline" style="float: right;" ng-click="resetOrder()">Reset</button>
			</ion-item>

			<div class="card" >
				<div class="item item-text-wrap" style="height: 250px">
					<ion-content>
						<ion-item ng-hide="order.dishes.length">
							<p>No dishes in your order</p>
						</ion-item>
						<ion-list ng-show="order.dishes.length">
							<ion-item ng-repeat="dish in order.dishes">
								<span style = "float: left; margin-top: 5px; width: 25%">
									{{dish.name}}
								</span style = "float: left; width: 25%">
								<span>
									{{dish.price | currency : Currency}}
								</span>
								<span style = "float: left; width: 25%">
			    					<input type="text" style="border: 1px solid; color: red; font-weight: 200;" ng-model="order.quantity[$index]" placeholder={{order.quantity[$index]}} required>
			    				</span>
				    			<span style = "float: right; width: 25%">
					    			<button class="button button-small button-positive" ng-click="increaseQuantity(dish)">
						    			<i class="icon ion-plus-round"></i>
						    		</button>
						    		<button class="button button-small button-assertive" ng-click="decreaseQuantity(dish)">
						    			<i class="icon ion-minus"></i>
						    		</button>
						    		<button class="button button-small button-clear" ng-click="removeDish(dish)">
										<i class="icon ion-close-round"></i>
									</button>
				    			</span>
							</ion-item>
							
						</ion-list>
					</ion-content>
				</div>
			</div>
			<ion-item class = "item item-divider">
						<strong style= "float: left;">Total: </strong>
						<strong style="float: right;">{{valueOfOrder() | currency : Currency}}</strong>
			</ion-item>			
		</div>
	</ion-content>

</div>