<div class="modal" ng-controller="NewOrder">
	<ion-header class="bar bar-header bar-dark">
		<a class="button icon ion-arrow-left-c button-clear button-light" ng-click="closeModal()"></a>
 		<h1 class="title">{{restaurant}}</h1>
 		<a class="button icon ion-checkmark-round button-clear button-light"></a>
	</ion-header>

	<ion-content class="has-header padding">
		<div ng-controller="SlideController">
			<ion-slide-box>
				<ion-slide>
				  	<div class="box">
				  		<div ng-controller="MenuFoodTabController">
					  		<div class="list">
					  			<a href="#" ng-repeat="food in typeOfFood" class="list-tabs" ng-click="setTab(food.name)" ng-class="{active: isSet(food.name)}">{{food.name}}</a>
					  		</div>
					  		
					  		<ion-list ng-repeat="food in typeOfFood" ng-show="isSet(food.name)" >
						  		<ion-scroll direction="y" style="width: 100%; height: 160px;">
						  			<ion-item ng-repeat="dish in food.content" ng-click="selectDish(dish)" style="margin : -1px 0px 0px 0px;">
						  				<span style="float: left;">{{dish.name}}</span>
						  				<span style="float: right;">{{dish.price | currency: Currency}}</span>
						  			</ion-item>
						  		</ion-scroll>
					  		</ion-list>
				  		</div>
				  		<br/>
				    	<button class="button button-positive" ng-click="nextSlide()">Next slide!</button>
				  	</div>
				</ion-slide>
				<ion-slide>
					<div class="box">
						<button class="button button-positive" ng-click="prevSlide()">Previous slide!</button>
					</div>
				</ion-slide>
			</ion-slide-box>
		</div>
		<br/>
		<div>
			<ion-item class="item item-divider">
				<span style="float: left;">
					<strong>Table: {{order.table}}</strong>
					<br/>
					<strong>Date: {{order.date}}</strong>
				</span>
				
				<button class="button button-outline" style="float: right; padding: 5px;" ng-click="resetOrder()">Reset</button>
			</ion-item>

			<div style="height: 230px;">
				<ion-item ng-hide="order.dishes.length">
					<p>No dishes in your order</p>
				</ion-item>
				<ion-scroll direction = "y" style="width: 100%; height: 100%;">
					<div class="list" ng-show="order.dishes.length">
						<ion-item ng-repeat="dish in order.dishes" style="margin : -1px 0px 0px 0px;">
							<span style = "float: left; margin-top: 5px; width: 30%;">
								{{dish.name}}
							</span>
							<span style = "float: left; margin-top: 5px; width: 25%; text-align: center;">
								{{dish.price | currency : Currency}}
							</span>
							<span style = "float: left; width: 15%; text-align: center;">
		    					<input id="input-quantity" type="text" required="required" numbers-only="numbers-only" ng-model="order.quantity[$index]" placeholder={{order.quantity[$index]}} maxlength="2">
		    				</span>
			    			<span class="item-divider-td">
				    			<button class="button button-small button-positive" ng-click="increaseQuantity(dish)"
				    			style="float: left;">
					    			<i class="icon ion-plus-round"></i>
					    		</button>
					    		<button class="button button-small button-assertive" ng-click="decreaseQuantity(dish)"
					    		style="float: left;">
					    			<i class="icon ion-minus"></i>
					    		</button>
					    		<button class="button button-small button-outline icon ion-close-round" ng-click="removeDish(dish)"
					    		style="float: left;"></button>
			    			</span>
						</ion-item>
					</div>
				</ion-scroll>
			</div>
			<ion-item class = "item item-divider">
				<strong style= "float: left;">Total: </strong>
				<strong style="float: right; color: red;">{{valueOfOrder() | currency : Currency}}</strong>
			</ion-item>			
		</div>
	</ion-content>

</div>