<ion-view view-title="{{navTitle}}">
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
		<button class="button button-icon icon ion-gear-b" menu-toggle="right"></button>
	</ion-nav-buttons>
    <ion-content has-header="true" padding="true">
        <button class="button icon ion-plus button-light" ng-click="openModal()"></button>
        <br/> <br/>
        <ion-item class= "item-full">
        	<strong>Recent order:</strong>
        </ion-item>
        <ion-list>

        </ion-list>
    </ion-content>

</ion-view>
