.button{
	vertical-align: middle;
	min-width: 30px;
	min-height: 20px;
	line-height: 30px;
}

.button-small{
	font-size: 100%;
	line-height: 20px;
}

a.selected-item: hover{
	background-color: #A8A8A8;
}

a.selected-item: visited{
	background-color: FFFF66;
}

.bar-header{
	border-bottom-width: 0px;
}

.avatar-image{
	max-width: 20%;
	max-height: 20%;
	float: left;
}

.item{
	margin: -1px -1px 0px -1px;
}

.item-complex .item-content{
	padding: 12px 12px 12px 12px;
}

.item-divider-td{
	float: left;
	width: 30%;
	text-align: center;
}

#input-quantity{
	width: 35px;
	color: red;
	border: 1px solid;
	font-size: 20px;
	height: 50%;
	padding: 0px 2px 0px 2px;
}

.list-tabs{
	float: left;
	width: 25%;
	font-size: 100%;
	border: none;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	background-color: #0000FF;
	color: white;
}

a.active{
	color: black;
	background-color: #CCFFFF;
}