.button{
	vertical-align: middle;
	min-width: 30px;
	min-height: 20px;
	line-height: 20px;
}

.button-small{
	font-size: 100%;
}

a.selected-item: hover{
	background-color: #A8A8A8;
}

a.selected-item: visited{
	background-color: FFFF66;
}

.bar-header{
	border-bottom-width: 0px;
}

.avatar-image{
	max-width: 20%;
	max-height: 20%;
	float: left;
}

.item{
	margin: -1px -1px 0px -1px;
}

.item-complex .item-content{
	padding: 12px 12px 12px 12px;
}

.item-divider-td{
	float: left;
	width: 25%;
}

.item-divider-td input{
	color: red;
	border: 1px solid;
	font-size: 20px;
	height: 50%;
}